# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb+srv://smudasir256_db_user:u6fAK8Zt96C6bauV@cluster0.qbuooat.mongodb.net/?appName=Cluster0

# JWT Configuration (if needed in future)
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=30d
